@charset "UTF-8";
@media screen and (min-width: 2200px){
	html{
		zoom:1.3;
	}
}
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing:border-box;
}
select{
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none;
	font-family: sans-serif;
	font-size: 12px;
}
html{
	min-width: 320px;
	font-size: 14px;
	height: 100%;
}
body{
	font-family: sans-serif;
	color: #666;
	background-color: #fff;
	overflow: scroll;
	min-width: 320px;
	margin: auto;
}
img{
	max-width: 100%;
	border: none;
	object-fit:cover;
}
a{
	text-decoration: none;
	color: #000;
	transition:all .5s;
}
a:hover{
	text-decoration: none;
}
::after,::before,.donghua{
	transition:all .5s;
	box-sizing:border-box;
}
#wrapper {
	width: 100%;
}
#header{
	width: 100%;
}
.header-top{
	background-image: url(./images/indexbg_01.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #2c6545;
	color: #fff;
	box-sizing:border-box;
}
.header-top-content{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
	height: 100px;
	position: relative;
}
.header-top-c_a{
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	width: 327px;
	height: 60px;
}
.header-top-c_a img{
	max-width: 100%;
	height: 100%;
}
.header-top-c_d {
	position: absolute;
	height: 52px;
	right: 0;
	top:50%;
	margin-top: -26px;
}

.header-top-c_d-item{
	float: left;
	height: 52px;
	box-sizing: border-box;
	margin-left: 30px;
}
.menu_btn{
	width: 50px;
	height: 50px;
	margin: 0 0 0 auto;
	transform:translateY(3px);
	position: relative;
	display: none;
}
.menu_btn:after,.menu_btn:before{
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px -15px;
    background: #fff;
    content: "";
    display: block;
    box-sizing:border-box;
}
.menu_btn div{
	width: 30px;
	height: 2px;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left:-15px;
}
.menu_btn div:before{
	width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1px -15px;
    background: #fff;
    content: "";
    display: block;
    animation:myfirst 1s linear 0s infinite normal;
    box-sizing:border-box;
}
.menu_btn div:nth-child(1):before{
    margin: 0px -15px;
}
.menu_btn div:nth-child(2){
    top: 33px;
}
.menu_btn div:nth-child(2):before{
    animation :myfirst1 1s linear 0s infinite normal;
}
.menu_btn[data-on="on"] div:nth-child(1){
	opacity: 0;
	transform:translateX(-20px);
}
.menu_btn[data-on="on"] div:nth-child(2){
	opacity: 0;
	transform:translateX(20px);
}
.menu_btn[data-on="on"]:before{
    transform:rotate(-45deg);
}
.menu_btn[data-on="on"]:after{
    transform:rotate(45deg);
}
.menu_btn[data-on="on"] {
    transform:rotate(180deg);
}
.header-top-c_d-item a{
	color: #fff;
	line-height: 22px;
	padding-top: 5px;
	display: block;
	height: 52px;
	font-size: 14px;
	font-weight: bold;
}
.header-top-c_d-item img{
	display: block;
	width: 31.66px;
	height: 19px;
	margin: 0 auto 5px;
}
.bt{
	height: 22px;
}
body[data-on="on"] .phone-menu{
	transform:translateX(0%);
}
.phone-menu{
	position: fixed;
	height: 100%;
	background: #1e1e1e;
	top: 0;
	right: 0;
	width: 260px;
	padding: 56px 0% 10px;
	z-index: 99;
	overflow: auto;
	display: none;
	transform:translateX(100%);
}
.phone-dan{
	width: 100%;
	height: 100%;
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    visibility: hidden;
}
body[data-on="on"] .phone-dan{
	opacity: .5;
	visibility: visible;
}
.phone-ul .phone-li{
	padding: 0 15px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	width: 100%;
	position: relative;
	line-height: 46px;
	min-height: 46px;
	overflow: hidden;
}
.phone-ul .phone-li .phone-li-a{
	position: absolute;
	top: 0;
	left: 15px;
	height: 46px;
	line-height: 46px;
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	color: rgba(255,255,255,.8);
	z-index: 20;
}
.phone-ul .phone-li .phone-item{
	width: 100%;
	height: 46px;
	position: relative;
	overflow: hidden;
}
.phone-ul .cz .phone-item:before{
    content: "";
    display: block;
    width: 9px;
    height: 1px;
    background: rgba(255,255,255,.4);
    position: absolute;
    top: 50%;
    right: 10px;
}
.phone-ul .cz .phone-item:after{
	content: "";
	display: block;
	width: 1px;
	height: 9px;
	background: rgba(255,255,255,.4);
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 14px;
}
.phone-li:after{
	content: "";
	display: block;
	width: 0%;
	height: 1px;
	background: rgba(255,255,255,.1);
	position: absolute;
	left: 0px;
	top: 46px;
}
.phone-ul .cz[data-on="on"]:after{
	width: 100%;
}
.phone-xl{
	font-size: 14px;
	width: 100%;
	display: none;
	height: 0px;
	transition: all .5s;
	overflow: hidden;
}
.phone-li .phone-xl[height="0px"]{
	display: none;
}
.phone-xl-a{
	display: block;
	padding: 5px 15px 5px 20px;
	color: rgba(255,255,255,.6);
	position: relative;
	line-height: 26px;
	opacity: 0;
	transform:translateX(10px);
	transition: all .3s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(1){
	transition-delay:.15s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(2){
	transition-delay:.3s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(3){
	transition-delay:.45s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(4){
	transition-delay:.6s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(5){
	transition-delay:.75s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(6){
	transition-delay:.9s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a:nth-child(7){
	transition-delay:1.15s;
}
.phone-ul .cz[data-on="on"] .phone-xl-a{
	opacity: 1;
	transform:translateX(0%);
}
.phone-ul .cz[data-on="on"] .phone-item:before{
    right: 0;
    width: 30px;
    opacity: 0;
}
.phone-ul .cz[data-on="on"] .phone-item:after{
	height: 100%;
	top: 0%;
	margin-top: 0;
	background: rgba(255,255,255,.1);
}

.phone-xl-a:nth-child(1){
	padding: 10px 15px 5px 20px;
}
.phone-xl-a:before{
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 1px;
	background: rgba(255,255,255,.1);
	top: 0;
	left: 7px;
}
.phone-xl-a:after{
	content: "";
	display: block;
	position: absolute;
	top:18px;
	left: 7px;
	background: rgba(255,255,255,.1);
	width: 8px;
	height: 1px;
}
.phone-xl-a:nth-child(1):after{
	top:22px;
}
.phone-xl-a:last-child{
	padding: 5px 15px 10px 20px;
}
.phone-box .phone-box-item{
	width: 50%;
	float: left;
	border-bottom: 1px solid rgba(255,255,255,.1);
	border-right: 1px solid rgba(255,255,255,.1);
}
.phone-box .phone-box-item a{
	display: block;
	text-align: center;
	padding: 15px 0 12px;
    color: rgba(255,255,255,.8);
    font-size: 14px;
}
.phone-box .phone-box-item a img{
	height: 30px;
	display: block;
	margin: auto;
	margin-bottom: 6px;
	opacity: .8;
}
.nav{
	width: 100%;
	border-bottom: 3px solid #dacfb3;
	background-color: #327e54;
	position: relative;
	box-sizing:border-box;
}
.header-nav{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	box-sizing:border-box;
}
.nav .header-nav .item{
	height: 47px;
	display: block;
	line-height: 47px;
	margin-right: 40px;
	font-weight: bold;
	font-size: 18px;
	float: left;
	box-sizing:border-box;
}
.header-nav .item a{
	display: block;
	color: #fff;
	padding: 0 15px 3px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -3px;
	box-sizing:content-box;
}
.header-nav .item .a1{
	background: #fff;
	color: #327e54;
}
.nav .header-nav:after{
	content: " ";
	display: block;
	clear: both;
}
.xiala{
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	margin-top: 3px;
	z-index: 50;
}
.xl-box{
	width: 94%;
	max-width: 1200px;
	margin: auto;
	padding: 10px 0;
}
.xl-new-box{
	padding: 20px 330px 10px 280px;
	position: relative;
	min-height: 160px;
	box-sizing: border-box;
}
.xl-new-box .xl-newb-a{
    position: absolute;
    width: 230px;
    height: 120px;
    top: 20px;
    left: 0;
    margin-right: 15px;
}
.xl-new-box .bbt{
	color: #25603f;
	font-weight: bold;
	font-size: 1.2rem;
	height: 1.4rem;
	margin-bottom: 0.8rem;
}
.textbox a{
	width: 110px;
	display: inline-block;
	height: 32px;
	margin-right: 52px;
	color: black;
	line-height: 32px;
	font-size: 14px;
}
.textbox a:hover{
	color: #327e54;
	text-decoration: underline;
}
.swiper-container{
	height: 500px;
	position: relative;
	z-index: 20;
}
.swiper-img{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    transform:translate3d(0px,0px,0px);
}
.i-height{height: 500px;}
.swiper-img .swiper-img-bg{
	flex-shrink: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.fly-box{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10%;
    height: 34px;
}
.swiper-container-horizontal{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction:row;
}
.swiper-button-prev{
    width: 34px;
    height: 34px;
    box-sizing:border-box;
    background: rgba(0,0,0,.35);
    border: 1px solid rgba(255,255,255,.3);
    position: relative;
    cursor: pointer;
}
.swiper-button-prev:after{
	width: 10px;
	height: 10px;
	display: block;
	content: "";
	border-top: 2px solid rgba(255,255,255,.6);
    border-left: 2px solid rgba(255,255,255,.6);
    transform:rotate(-45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -2px;
    box-sizing:border-box;
}
.swiper-button-next{
	width: 34px;
	height: 34px;
	box-sizing:border-box;
	background: rgba(0,0,0,.35);
	border: 1px solid rgba(255,255,255,.3);
	border-left: 0;
	cursor: pointer;
	position: relative;
}
.swiper-button-next:after{
	width: 10px;
	height: 10px;
	display: block;
	content: "";
	border-top: 2px solid rgba(255,255,255,.6);
    border-right: 2px solid rgba(255,255,255,.6);
    transform:rotate(45deg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -2px;
    box-sizing:border-box;
}
.swiper-point{
	width: 80px;
	margin: 0 10px;
	height: 37.84px;
	padding-top:17px;
	box-sizing:border-box; 
	overflow: hidden;
	white-space:nowrap;
	font-size: 0;
	text-align: center;
}
.swiper-point-baseclass{
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background-color: #fff;
	box-sizing:border-box;
	position: relative;
	margin: 0 4px;
	transform:translateY(-50%) scale(.33);
}
.swiper-point-main{
	background: #25603f;
	transform:translateY(-50%) scale(1);
}
.swiper-point-prev{
    transform:translateY(-50%) scale(.66);
}
.swiper-point-next{
    transform:translateY(-50%) scale(.66);
}
.swiper-container-horizontal .bbt{
	box-sizing:border-box;
	flex:1;
}
.swiper-container-horizontal .bbt .btb{
	color: #fff;
	font-size: 18px;
	padding: 0 10px;
	display: inline-block;
	height: 34px;
	line-height: 32px;
	box-sizing:border-box;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border:1px solid rgba(255,255,255,.3);
	background: rgba(0,0,0,.35);
}
#content{
    padding: 2.4rem 0;
    box-sizing:border-box;
    background-color: rgb(235,235,235);
    border-bottom: 1px solid #dcdcdc;
    background-image: url(./images/index_ico_27.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
#content .content-con{
	width: 94%;
	max-width: 1200px;
	margin: 0 auto;
}
.content-con:after{
	content: "";
	display: block;
	clear: both;
}
.content-top-title{
    height: 2.4rem;
    padding-left: 1.8rem;
    color: #25603f;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.45rem;
    position: relative;
    margin-bottom: 1.8rem;
}
.content-top-title:before{
	content: "";
    height: 50%;
    width: 6px;
    background: #25603f;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.content-top-title:after{
	content: "";
	display: block;
	width: 6px;
	height: 50%;
	background: #cbae64;
	position: absolute;
	left:0;
	bottom: 0;
}
.content-top-a{
	display: inline-block;
	color: #25603f;
	font-size: 13px;
	padding-right: 2.1rem;
	position: absolute;
	right: 0;
	top: 0;
	height: 2.4rem;
}
.content-top-a:before{
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 9px;
    border: 1px solid #25603f;
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -9px;
}
.content-top-a:after{
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-top: 1px solid #25603f;
    border-right: 1px solid #25603f;
    transform:rotate(45deg);
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -3px;
}
.content-item1,.content-item2{
	width: 48%;
	float: left;
	margin-right: 4%;
}
.content-item1:after{
	content: "";
	display: block;
	clear: both;
}
.content-it_img{
	padding-top: 45.04%;
	margin-bottom: 1rem;
	overflow: hidden;
	position: relative;
}
.content-img_a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.content-img_a img{
	display: block;
	width: 100%;
	height: 100%;
	transition:all .3s;
	object-fit:cover;
	transition:all 3s;
}
.content-img_a img:hover{
	transform:rotate(3deg) scale(1.2);
}
.content-text{
	height: 2.5rem;
	line-height: 2.55rem;
	font-size: 1.38rem;
	margin-bottom: 0;
	overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.content-text a{
	color: #25603f;
}
.content-null{
	line-height: 1.65rem;
	height: 3.2rem;
	color: #3c3c3c;
}
.href{
	height: 2.8rem;
	line-height: 2.85rem;
	display: none;
}
.href a{
	display: inline-block;
	color: #989898;
	padding-left: 1rem;
	position: relative;
}
.href a:after{
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-right: 1px solid #109954;
    border-top: 1px solid #109954;
    transform:rotate(45deg);
    position: absolute;
    left: 0;
    top: 50%;
    margin: -3px 0 0 -1px;
}
#content-down{
	padding: 2.4rem 0 3.4rem;
	border-bottom: 1px solid #dcdcdc;
	background-color: rgb(245,245,245);
	background-image: url(./images/index_ico_27.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.content-down-list:after{
	content: "";
	display: block;
	clear: both;
}
.content-down-list{
	width: 94%;
	margin: 0 auto;
	max-width: 1200px;
}
.content-down-l{
	float: left;
	width: 60%;
	overflow: hidden;
}
.content-down-r{
	float: right;
	width: 36%;
	overflow: hidden;
}
.content-down-type{
	padding-right: 80px;
	position: relative;
	height: 4rem;
	line-height: 4.05rem;
	border-bottom: 1px solid #dcdcdc;
	z-index: 1;
}
.content-down_l-top{
	box-sizing:content-box;
	display: flex;
	width: 100%;
	height: 100%;
	transiyion-timing-function:ease-out;
}
.content-down_lt-tip{
	flex-shrink:0;
	width: auto;
	height: 4.1rem;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	margin-right: 1.8rem;
	color: #9c9c9c;
	position: relative;
	overflow: hidden;
}
.content-down_lt-tip:after{
	content: "";
	display: block;
	position: absolute;
	height: 3px;
	width: 0;
	background-color: #cbae64;
	transform:translateX(-50%);
	left: 50%;
	bottom: 0;
	transition: all .5s;
}
.content-down_lt-tip-active:after{
	width: 100%;
	transition: all .5s;
}
.content-zuohref{
	position: absolute;
	right: 0;
	top: 0;
	color: #25803f;
	font-size: 13px;
	height: 4rem;
	padding-right: 2.1rem;
}
.content-zuohref:before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    border: 1px solid #25603f;
}
.content-zuohref:after{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    right: 7px;
    top: 50%;
    margin-top: -3px;
    border-top: 1px solid #25603f;
    border-right: 1px solid #25603f;
    transform:rotate(45deg);
}
.content-down-box{
	overflow: hidden;
}
.content-down_box{
	flex-shrink:0;
	height: auto;
	/*width: 720px;*/
	width: 100%;
	margin-right: 10px;
}
.content-down-item{
	font-size: 1.15rem;
	line-height: 3.85rem;
	border-bottom: 1px dashed #cacaca;
}
.content-down-item_a{
	display: block;
	padding-left: 1.2rem;
	padding-right: 7rem;
	position: relative;
	color: #000;
}
.content-down-item_hover:hover{
	text-decoration: underline;
	color: #25603f;
}
.content-down-item_a:before{
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent transparent #25603f;
	top: 50%;
	left: 0px;
	margin-top: -4px;
	box-sizing:border-box;
}
.content-down-item_a:after{
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-top: 1px solid #25603f;
	border-right: 1px solid #25603f;
	transform:rotate(45deg);
	top: 50%;
	left: -2px;
	margin-top: -4px;
	box-sizing:border-box;
}
.content-down-item_title{
	height: 3.8rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.content-down-item_a span{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1rem;
	color: #9b9b9b;
}
.content-r-item{
	height: 5.8rem;
	border-bottom: 0.5px solid #dcdcdc;
}
.content-r-item_a{
	display: block;
	padding: 1.5rem 0 1.5rem 0;
	color: #000;
	height: 5.8rem;
}
.content-r-item_a:after{
	content: "";
	display: block;
	clear: both;
}
.content-r-item_riqi{
	height: 3.075rem;
	float: left;
	border-right: 0.5px solid #dcdcdc;
	color: #25603f;
	width: 5rem;
	text-align: center;
}
.content-r-item_title{
	height: 3.2rem;
	line-height: 1.6rem;
	font-size: 1.15rem;
	padding-left: 0.8rem;
    text-overflow:ellipsis;
    overflow: hidden;
    display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.content-r-date{
	font-size: 1.9rem;
	height: 1.8rem;
	line-height: 1.8rem;
	font-weight: 600;
}
.content-r-yuefen{
	font-size: 0.9rem;
	height: 1rem;
	line-height: 1rem;
	margin-top: 0.2rem;
}
#footer{
	padding: 1.8rem 0;
	background-color: rgba(235,235,235);
}
.footer_top{
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	padding: 0 100px;
	overflow: hidden;
	position: relative;
}
.footer_top_silder{
	display: flex;
	width: 100%;
}
.footer_top_item{
	width: 296.25px;
	flex-shrink:0;
	margin-right: 5px;
}
.footer_top_item_a{
	padding-top: 57.43%;
	display: block;
	position: relative;
	color: #fff;
	overflow: hidden;
}
.footer_top_item_aimg{
	width: 100%;
	height: 100%;
	max-width: 100%;
	object-fit:cover;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	transition:all 1s;
}
.footer_top_item_a:hover img{
	transform:scale(1.2);
}
.footer_top_item_a:hover .footer_top_item_chakan{
	transform:translateY(0%);
}
.footer_top_item_atext{
	font-size: 1.6rem;
	color: #fff;
	width: 100%;
	text-align: center;
	font-weight: bold;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	left: 0px;
	top: 50%;
	line-height: 1.4;
}
.footer_top_item_chakan{
	position: absolute;
	width: 100%;
	bottom:0px;
	transform:translateY(100%);
	background-color: rgba(37,96,63,.8);
	text-align: center;
	height: 2.8rem;
	line-height: 2.8rem;
	transition:transform .5s;
}
.footer_top_item_chakan span{
	display: inline-block;
    padding-left: 2rem;
    background-image: url(./images/index_ico_33.png);
    background-repeat: no-repeat;
    background-position: left;
    line-height: 2.8rem;
}
.footer_top_after{
	background-color: rgba(235,235,235);
	opacity: .5;
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.footer_top_after:before{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border:2px solid #25603f;
	border-radius: 100%;
	height: 34px;
	width: 34px;
	transform:translate(-50%, -50%);
}
.footer_top_after:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-top: 2px solid #25603f;
	border-left: 2px solid #25603f;
	height: 12px;
	width: 12px;
	transform: rotate(135deg);
	margin: -5px -8px;
}
.footer_top_before{
	background-color: rgba(235,235,235);
	opacity: .5;
	width: 100px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.footer_top_before:before{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border:2px solid #25603f;
	border-radius: 100%;
	height: 34px;
	width: 34px;
	transform:translate(-50%, -50%);
}
.footer_top_before:after{
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-top: 2px solid #25603f;
	border-left: 2px solid #25603f;
	height: 12px;
	width: 12px;
	transform: rotate(-45deg);
	margin: -5px -4px;
}
#footer-bottom{
	padding-top: 2.8rem;
	background-image: url(./images/indexbg_03.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #25603f;
	color: #fff;
}
.footer-bottom_top{
	margin: 0 auto;
	width: 94%;
	max-width: 1200px;
	position: relative;
}
.footer-bottom_top:after{
	content: "";
	display: block;
	clear: both;
}
.footer-bottom_timg{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: 0rem;
    width: 110px;
    height: 110px;
    max-width: 100%;
    object-fit:cover;
}
.footer-bottom_tdivl{
	line-height: 2;
	float: left;
	margin-bottom:2.5rem;
	width: 40%; 
}
.footer-bottom_tdivr{
	float: right;
	width: 280px;
	margin-bottom: 2.5rem;
}
.footer-bottom-rlist{
	margin-bottom: 1.8rem;
}
.footer-bottom-rlist:after{
	content: "";
	display: block;
	clear: both;
}
.footer-bottom-ritem{
	width: 25%;
	float: left;
	text-align: center;
	height: 58.5px;
}
.footer-bottom-ritem:hover a{
	text-decoration: underline;
}
.footer-bottom-ria{
	color: rgba(255,255,255,.8);
	font-size: 0.9rem;
	font-weight: bold;
	display: inline-block;
	padding-top: 0.6rem;
}
.footer-bottom-ria img{
	height: 2rem;
	margin-bottom: 0.4rem;
	display: block;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	margin: auto;
	margin-bottom: 0.4rem;
}
.footer-bottom-rlinkbox{
	padding:0 1rem;
	height: 2.8rem;
	line-height: 2.8rem;
	border: 1px solid rgba(255,255,255,.2);
	width: 48.5%;
	background-color: transparent;
	background-image: url(./images/xia_03.png);
	background-repeat: no-repeat;
	background-position: 95% 50%;
	background-size: auto 0.5rem;
	border-radius: 2px;
	float: left;
	font-size: 1.1rem;
	position: relative;
	color: #fff;
}
.footer-bottom-rlinkbox:hover .footer-bottom-fly{
	opacity: 1;
	visibility: visible;
	transition-delay:0s;
}
.footer-bottom_bottom{
	border-top: 1px solid rgb(255,255,255,.1);
	line-height: 2;
	font-size: 0.8rem;
	color: rgba(255,255,255,.8);
	padding:.8rem 0;
}
.footer-botton_btext{
	max-width: 1200px;
	width: 94%;
	margin: auto;
}
.footer-botton_btext a{
	color: rgba(255,255,255,.8);
}
.footer-botton_btext a:hover{
	text-decoration: underline;
}
.footer-bottom-fly{
	width: 100%;
	position: absolute;
	left: -1px;
	border: 1px solid #eaeaea;
	box-sizing:content-box;
	background-color: rgb(255, 255, 255);
	color: rgb(60,60,60);
	bottom: 100%;
	visibility:hidden;
	opacity: 0;
	transition:all .5s;
    transition-delay:0.5s;
}
.footer-bottom-bbt{
	padding: 0 11px;
	position: relative;
	font-size: 14px;
	line-height: 44px;
	border-bottom: 1px solid #eaeaea;
	font-weight: bold;
	height: 44px;
}
.footer-bottom-bbt .biao{
	width: 44px;
	height: 44px;
	position: absolute;
	right: 0;
	top: 0;
}

.footer-bottom-bbt .biao:before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #25603f;
    top:50%;
    left: 50%;
    line-height: 44px;
    margin: -5px -1px;
}
.footer-bottom-bbt .biao:after{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: #25603f;
    transform:rotate(90deg);
    top:50%;
    left: 50%;
    margin: -5px -1px;
}
.footer-bottom-bbt .biao_hidden:before{
	display: none;
}
.footer-bottom-ll{
	max-height: 180px;
	overflow: auto;
	display: none;
}
.footer-bottom-ll a{
	height: 36px;
	line-height: 36px;
	padding: 0 11px;
	font-size: 12px;
	color: #3c3c3c;
	display: block;
}
.footer-bottom-fly .footer-fly-item[data-on="on"] .footer-bottom-ll{
	display: block;
}
@media only screen and (max-width: 1600px)  {
	.header-top-content{ height: 80px; }
	.header-top-c_a{ height: 48px; margin-top: -24px; }
	.header-top-c_d-item a{ font-size: 12px; }
	.nav .header-nav .item{ line-height: 39px; height: 39px; font-size: 16px; margin-right: 35px;}
	.i-height{height: 400px;}
}
@media only screen and (max-width: 1420px){
    .i-height{ height: 460px; }
    .header-top-content{ height: 90px; }
	.header-top-c_a{ height: 60px; margin-top: -30px; }
	.footer_top { max-width: 1300px; padding: 0 50px; }
	.footer_btn{ width: 50px; }
}
@media only screen and (max-width: 1280px) {
	.xl-new-box{ padding: 20px 280px 10px 280px; }
	.nav .header-nav .item{ font-size: 14px; margin-right: 38px;}
	.i-height{ height: 380px; }
	.footer_top { width: 94%; padding: 0 0px; }
	.footer_btn{ width: 40px; background: rgb(0,0,0,.5);}
	.footer_btn:after{ border-color:#fff; }
	.footer_btn:before{display: none;}
	.zi-banner{ height: 320px; }
}
@media only screen and (max-width: 1180px) {
	.nav .header-nav .item{ margin-right: 22px;}
	.xl-new-box{ padding: 20px 230px 10px 280px; }
}
@media only screen and (max-width: 1024px){
	.footer-bottom-rlinkbox{ display: none; }
	.footer-bottom_timg{ height: 80px; width: 80px; }
	.footer_top_item_chakan{ display: none; }
	.header-top-content{ height: 56px; }
	.header-top-c_a{ height: 40px; margin-top: -20px; }
	.header-top-c_d, .nav{display: none;}
	.header-top{ position: fixed; width: 100%; left: 0; top: 0;z-index: 100; }
	.i-height{height: 320px;}
	.phone-menu{display: block;}
	.menu_btn{display: block;}
	.content-down-l{float: none;width: 100%;margin: 0 0 3rem 0;}
	.content-down-r{float: none;width: 100%;margin: 0 0 0rem 0;}
	body{ padding-top: 56px; }
}
@media only screen and (max-width: 640px) {
	.i-height{height: 240px}
	.footer-bottom_timg{ opacity: .5; top: 0;right: 0; left: auto; transform:translateX(0); }
	.footer-bottom_tdivl,.footer-bottom_tdivr{float: none; width: 100%;}
	.footer_btn{ width: 30px; }
	.content-item1,.content-item2{float: none;width: 100%;margin-top: 5%;margin-right: 0%;}
	.content-item2{margin-top: 0;}
	.content-down,.content {background-size: 60% auto;}
	.swiper-button-next,.swiper-button-prev,.fly-box .bbt{display: none;}
	.fly-box{bottom: 5%;}
	.swiper-point{position: absolute;left: 50%;margin:0;}
	.header-top-content{ height: 50px; }
	.header-top-c_a{ height: 34px; margin-top: -17px; }
	body{padding-top: 50px;}
	html{font-size:calc(0.03*100vw);}
}
@media only screen and (max-width: 500px) {
	
}
@media only screen and (max-width: 414px){
	.i-height{height: 180px;}
}
@media only screen and (max-width: 380px){
	.i-height{height: 170px;}
}
@-webkit-keyframes myfirst{
	25%{
		-webkit-transform:translateX(4px);
	}
	75%{
		-webkit-transform:translateX(-4px);
	}
	100%{
		-webkit-transform:translateX(0px);
	}
}
@-webkit-keyframes myfirst1{
	25%{
		-webkit-transform:translateX(-4px);
	}
	75%{
		-webkit-transform:translateX(4px);
	}
	100%{
		-webkit-transform:translateX(0px);
	}
}