html,body{
	height: 100%;
}
header {
	display: block;
	font-size: 1.125rem;
	font-weight: 700;
	height: 500px;
	height: 80vh;
	min-height: 300px;
	max-height: 1080px;
	background: url('./images/header-bg.jpg');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}
.header-text-container {
	text-align: center;
	color: white;
	text-shadow: 1px 1px 4px rgba(34,34,34,0,6);
	height: 40%;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}
.header-atricle_title {
	font-size: 2em;
}
.header-atricle_pub {
	display: block;
	font-size: 1em;
}
@media all and (min-width: 480px) {
	header {
		font-size: 2.5rem;
	}
}